version: '3.8'

services:
  web:
    build: .
    ports:
      - "8501:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:8001/api
    depends_on:
      - api
    volumes:
      - ./src/data:/app/src/data

  api:
    build:
      context: ./backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
